<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="../../../resources/css/bootstrap.min.css"
          rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">

        <div class="container-xl">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/listUser}">Liste des utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/topologie/listTopologie}">Liste des topologies</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/topologie/listTopologiePublic}">Liste des topologies publiques</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/topologie/listTopologieByUser}">Liste de mes topologies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/topologie/listTopologieDifferentByUser}">Liste des topologies autre que le mien</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/site/listSiteByUser}">Liste de mes sites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/voie/listVoieByUser}">Liste de mes voies</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/reservation/listReservationByUser}">Liste de mes réservations</a>
                        </li>

                        <li sec:authorize="isAuthenticated()">
                                <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
</div>
</body>
</html>
