<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navbar">
    <div class="container-xl">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" th:href="@{/}">Accueil</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/listUser}">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/topo/listTopoPublic}">Topos publiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/topo/listTopoByUser}">Mes topos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Infos</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" th:href="@{/site/listSiteByUser}">Mes sites</a>
                            <a class="dropdown-item" th:href="@{/voie/listVoieByUser}">Mes voies</a>
                            <a class="dropdown-item" th:href="@{/secteur/listSecteurByUser}">Mes secteurs</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/site/listSite}">Sites</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/secteur/listSecteur}">Secteurs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reservation/listReservationByUser}">Mes réservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/reservation/listValidationByUser}">Mes validations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Recherche</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/topo/SearchTopoList}">Recherche topo</a>
                            <a class="dropdown-item" th:href="@{/topo/SearchSiteList}">Recherche Site</a>
                            <a class="dropdown-item" th:href="@{/topo/SearchVoieList}">Recherche Voie</a>
                        </div>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
