<div th:fragment="navbar"
     xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/listUser}">liste des utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addUser}">Ajout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/topologie/listTopologie}">liste des topologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/topologie/addTopologie}">Ajout</a>
            </li>

        </ul>
    </div>
</nav>
</div>