<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Creation du site</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <form action="#" th:action="@{/site/saveSite}" th:object="${site}" method="post">
        <div class="form-group">
            <!--<input type="text" class="form-control" id="exampleInputNom" th:value="${site.username}"
                   aria-describedby="WarningNom" disabled>-->
        </div>
        <div class="form-group">
            <label for="exampleInputNomSite">Nom du site</label>
            <input type="text" class="form-control" th:field="*{nomSite}" id="exampleInputNomSite" aria-describedby="WarningNomSite">
            <small id="WarningNomSecteur" class="form-text text-muted" th:if="${#fields.hasErrors('nomSite')}" th:errors="*{nomSite}"></small>
        </div>

        <div class="form-group">
            <label for="exampleInputRegionSite">Region Site</label>
            <input type="text" class="form-control" th:field="*{regionSite}" id="exampleInputRegionSite" aria-describedby="WarningRegionSite" >
            <small id="WarningRegionSite" class="form-text text-muted" th:if="${#fields.hasErrors('regionSite')}" th:errors="*{regionSite}"></small>
        </div>

        <div class="form-group">
            <label for="exampleInputPays">Pays</label>
            <input type="text" class="form-control" th:field="*{pays}" id="exampleInputPays" aria-describedby="WarningPays" >
            <small id="WarningPays" class="form-text text-muted" th:if="${#fields.hasErrors('pays')}" th:errors="*{pays}"></small>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" th:name="action" th:value="Submit">
        </div>
    </form>
</div>

</body>
</html>