<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Ajout du site sur le topo</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container mt-5">

    <h3>Ajout sites</h3>
    <div class="col-md-6">
        <form method="post" th:action="@{/site/addTopoSite/{id}(id=${id})}" th:object="${topologie}">
            <h3>Bonjour</h3>
            <div class="form-group row has-feedback">
                <select class="custom-select" th:field="*{id}">
                    <option th:each="topologie : ${topologieTrouve}"
                            th:selected="${topologieRequis.id == topologie.id}"
                            th:text="${topologie.nomTopologie}"
                            th:value="${topologie.id}">>
                    </option>
                </select>
            </div>
            <div class="row">
                <input class="btn btn-primary" th:value="Submit" type="submit">
                <a class="btn btn-info" role="button" th:href="@{/topologie/listTopologieByUser}">Retour</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
