<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container-xl">
    <div class="card rounded-0 shadow">
        <div class="card-body">
            <h3>Ajout topologie</h3>
            <div class="col-md-6">
                <form action="#" th:action="@{/topologie/saveTopologie}" th:object="${topologie}" method="post">
                    <div class="form-group">
                        <!-- <label for="exampleInputId">Id</label>
                         <input type="number" th:field="*{id}" class="form-control" id="exampleInputId">-->
                    </div>
                    <div class="form-group row has-feedback">
                        <label for="exampleInputNomTopologie" class="col-sm-2 col-form-label">Nom du secteur</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{nomTopologie}"
                                   id="exampleInputNomTopologie" aria-describedby="WarningNomTopologie">
                            <small id="WarningNomTopologie" class="form-text text-muted"
                                   th:if="${#fields.hasErrors('nomTopologie')}" th:errors="*{nomTopologie}"></small>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label for="exampleInputSecteur" class="col-sm-2 col-form-label">Secteur</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{secteur}" id="exampleInputSecteur"
                                   aria-describedby="WarningSecteur">
                            <small id="WarningSecteur" class="form-text text-muted"
                                   th:if="${#fields.hasErrors('secteur')}" th:errors="*{secteur}"></small>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label for="exampleInputPays" class="col-sm-2 col-form-label">Pays</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{pays}" id="exampleInputPays"
                                   aria-describedby="WarningPays">
                            <small id="WarningPays" class="form-text text-muted" th:if="${#fields.hasErrors('pays')}"
                                   th:errors="*{pays}"></small>
                        </div>
                    </div>
<!--
                    <div class="form-group row has-feedback">
                        <div class="col-sm-10">
                            <label for="exampleInputUtilisateur" class="col-sm-2 col-form-label">Utilisateur</label>
                            <input type="text" class="form-control" id="exampleInputUtilisateur"
                                   th:value="${topologie.utilisateur}"
                                   aria-describedby="WarningUtilisateur" disabled>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label for="exampleInputSite" class="col-sm-2 col-form-label">Site</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exampleInputSite" th:value="${topologie.site}"
                                   aria-describedby="WarningSite" disabled>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label for="exampleInputReservation" class="col-sm-2 col-form-label">Reservation</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exampleInputReservation"
                                   th:value="${topologie.reservation}"
                                   aria-describedby="WarningReservation" disabled>
                        </div>
                    </div>-->
                    <div class ="row">
                        <input class="btn btn-primary" type="submit" th:name="action" th:value="Submit">
                        <a th:href="@{/topologie/listTopologie}" class="btn btn-info" role="button">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>