<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Creation de la voie</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-xl">
    <div class="card rounded-0 shadow">
        <div th:replace = "fragments/topnav :: navbar"></div>
        <div class="card-body">
            <h3>Ajout Voie</h3>
            <div class="col-md-6">

                <form action="#" th:action="@{/voie/saveVoie}" th:object="${voie}" method="post">
                    <div class="form-group">
                        <!--<input type="text" class="form-control" id="exampleInputNom" th:value="${voie.username}"
                               aria-describedby="WarningNom" disabled>-->
                    </div>
                    <div class="form-group row has-feedback">
                        <label for="exampleInputNomVoie" class="col-sm-2 col-form-label">Nom du voie</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{nomVoie}" id="exampleInputNomvoie"
                                   aria-describedby="WarningNomvoie">
                            <small id="WarningNomSecteur" class="form-text text-muted"
                                   th:if="${#fields.hasErrors('nomVoie')}" th:errors="*{nomVoie}"></small>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label for="exampleInputCotation" class="col-sm-2 col-form-label">Cotation</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{cotation}" id="exampleInputCotation"
                                   aria-describedby="WarningCotation">
                            <small id="WarningCotation" class="form-text text-muted"
                                   th:if="${#fields.hasErrors('cotation')}" th:errors="*{cotation}"></small>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label for="exampleInputHauteur" class="col-sm-2 col-form-label">Hauteur</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" th:field="*{hauteur}" id="exampleInputHauteur"
                                   aria-describedby="WarningHauteur">
                            <small id="WarningHauteur" class="form-text text-muted"
                                   th:if="${#fields.hasErrors('hauteur')}" th:errors="*{hauteur}"></small>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label for="exampleInputDistance" class="col-sm-2 col-form-label">Distance</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" th:field="*{distance}" id="exampleInputDistance"
                                   aria-describedby="WarningCotation">
                            <small id="WarningDistance" class="form-text text-muted"
                                   th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputSecteur" class="col-sm-2 col-form-label">Site</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exampleInputSecteur" th:value="${voie.site}"
                                   aria-describedby="WarningSecteur" disabled>
                        </div>
                    </div>

                    <div>
                        <input class="btn btn-primary" type="submit" th:name="action" th:value="Submit">
                        <a th:href="@{/voie/listVoie}" class="btn btn-primary" role="button">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>