<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Admin Home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <p>Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)</p>
    <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
</div>
<div class="container-fluid">
    <div class="card text-center">
        <div class="card-body">
            <h1> Liste des utilisateurs</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <th>id</th>
                    <th>username</th>
                    <th>prenom</th>
                    <th>age</th>
                    <th>password</th>
                    <th>mail</th>
                    <th>detail</th>
                    <th>editer</th>
                    </thead>
                    <tbody>
                    <tr th:each="utilisateur, rowStat: ${utilisateurs}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${utilisateur.id}"/>
                        <td th:text="${utilisateur.username}"/>
                        <td th:text="${utilisateur.prenom}"/>
                        <td th:text="${utilisateur.dateNaissance}"/>
                        <td th:text="${utilisateur.password}"/>
                        <td th:text="${utilisateur.mail}"/>
                        <td><a th:href="@{/details?id={id}(id=${utilisateur.id})}">Détails</a></td>
                        <td><a th:href="@{/edition?id={id}(id=${utilisateur.id})}">Editer</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="align-self-xl-end">
    <br> <a th:href="@{/add}" class="btn btn-primary" role="button">Ajouter</a> </br>
</div>
</body>
</html>