<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Commentaire home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-xl">
    <div class="card rounded-0 shadow">
        <div class="card-body">
            <h3>Home commentaire</h3>
            <div class="col-md-6">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/commentaire/listCommentaire}">liste des
                                    commentaires</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/commentaire/addCommentaire}">Ajout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/commentaire/detailsCommentaire}">Detail des
                                    commentaires</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/commentaire/editionCommentaire}">Modification des
                                    commentaires</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>