<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"-->
<head>
    <title>Admin Home</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"> Header</div>
<div class="container mt-5">
    <h3 class="text-center mb-3">Login Form</h3>
    <div class="col-md-6">
        <form action="home" method="post" th:action="@{/connect}">
            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="inputEmail3">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputEmail3" name="username"
                           placeholder="Email" type="email"/> <span
                        class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="inputPassword3">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputPassword3" name="password"
                           placeholder="Password" type="password"/> <span
                        class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input name="remember-me" type="checkbox"> Remember Me
                </label>
            </div>
            <div class="row">
                <div class="form-group col-xs-offset-8 col-xs-4">
                    <button class="btn btn-primary btn-block btn-flat" type="submit">LogIn</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info alert-dismissable"
                         th:if="${param.logout}">
                        <p>
                            <i class="icon fa fa-info"></i> <span
                                th:text="${info.logout_success}">You have been logged
           out.</span>
                        </p>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>

