<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Detail site</h1>

<div class="container">

    <form>
        <div class="form-group">
            <label for="exampleInputId">Id</label>
            <input type="number" disabled class="form-control" id="exampleInputId" th:value="${site.id}">
        </div>
        <div class="form-group">
            <label for="exampleInputNomSite">Nom</label>
            <input type="text" class="form-control" id="exampleInputNomSite" th:value="${site.nomSite}"
                   aria-describedby="WarningInputNomSite" disabled>
        </div>

        <div class="form-group">
            <label for="exampleInputRegionSite">Nom</label>
            <input type="text" class="form-control" id="exampleInputRegionSite" th:value="${site.regionSite}"
                   aria-describedby="WarningRegionSite" disabled>
        </div>

        <div class="form-group">
            <label for="exampleInputPays">Pays</label>
            <input type="text" class="form-control" id="exampleInputPays" th:value="${site.pays}"
                   aria-describedby="WarningPays" disabled>
        </div>

        <div>
            <a th:href="@{/}" class="btn btn-info" role="button">Retour</a>

        </div>

    </form>
</div>
</body>
</html>