<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container mt-5">
    <h3 class="text-center mb-3">Detail Reservation</h3>
    <div class="col-md-6">
        <form>
            <div class="form-group row has-feedback">
                <label for="exampleInputId" class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-10">
                    <input type="number" disabled class="form-control" id="exampleInputId"
                           th:value="${reservation.id}">
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label for="exampleInputTopologie" class="col-sm-2 col-form-label">Nom du secteur</label>
                <input type="text" class="form-control" id="exampleInputTopologie"
                       th:value="${reservation.topologie}"
                       aria-describedby="WarningInputTopologie" disabled>
            </div>
            <div class="form-group row has-feedback">
                <label for="exampleInputAuteur" class="col-sm-2 col-form-label">Auteur</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="exampleInputAuteur" th:value="${reservation.duree}"
                           aria-describedby="WarningAuteur" disabled>
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label for="exampleInputEtat" class="col-sm-2 col-form-label">Etat</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="exampleInputEtat" th:value="${reservation.Etat}"
                           aria-describedby="WarningEtat" disabled>
                </div>
            </div>
            <div>
                <a th:href="@{/reservation/listReservation}" class="btn btn-info" role="button">Retour</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
