<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container mt-5">
    <h3 class="text-center mb-3">Detail topologie</h3>
    <div class="col-md-6">
        <form>
            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="exampleInputNomTopo">Nom du topologie</label>
                <div class="col-sm-10">
                    <input aria-describedby="WarningInputNomTopo" class="form-control" disabled
                           id="exampleInputNomTopo"
                           th:value="${topologie.nomTopologie}" type="text">
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="exampleInputSecteur">Secteur</label>
                <div class="col-sm-10">
                    <input aria-describedby="WarningInputSecteur" class="form-control" disabled
                           id="exampleInputSecteur"
                           th:value="${topologie.secteur}" type="text">
                </div>
            </div>

            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="exampleInputPays">Pays</label>
                <div class="col-sm-10">
                    <input aria-describedby="WarningInputPays" class="form-control" disabled
                           id="exampleInputPays"
                           th:value="${topologie.pays}" type="text">
                </div>
            </div>

            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="exampleInputAuteur">Auteur</label>
                <div class="col-sm-10">
                    <input aria-describedby="WarningAuteur" class="form-control" disabled
                           id="exampleInputAuteur"
                           th:value="${topologie.utilisateur.username}" type="number">
                </div>
            </div>
            <div class="row">
                <a class="btn btn-info" role="button" th:href="@{/topologie/listTopologieByUser}">Retour</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
