<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Modifier detail secteur</h1>

<div class="container">


    <!--    <form>-->
    <form action="#" th:action="@{/editionSecteur?id={id}(id=${secteur.id})}" th:object="${secteur}" method="post">
        <div class="form-group">
            <label for="exampleInputId">Id</label>
            <input type="number" disabled class="form-control" id="exampleInputId" th:field="*{id}">
        </div>
        <div class="form-group">
            <label for="exampleInputNomSecteur">Nom</label>
            <input type="text" class="form-control" id="exampleInputNomSecteur" th:field="*{nomSecteur}">
            <small id="WarningNomSecteur" class="form-text text-muted" th:if="${#fields.hasErrors('nomSecteur')}"
                   th:errors="*{nomSecteur}"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputNomSecteur">Longueur</label>
            <input type="number" class="form-control" id="exampleInputLongueur" th:field="*{longueur}">
            <small id="WarningNomLongueur" class="form-text text-muted" th:if="${#fields.hasErrors('longueur')}"
                   th:errors="*{longueur}"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputHauteur">Nom</label>
            <input type="number" class="form-control" id="exampleInputHauteur" th:field="*{hauteur}">
            <small id="WarningHauteur" class="form-text text-muted" th:if="${#fields.hasErrors('hauteur')}"
                   th:errors="*{hauteur}"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputCotation">Nom</label>
            <input type="text" class="form-control" id="exampleInputCotation" th:field="*{cotation}">
            <small id="WarningCotation" class="form-text text-muted" th:if="${#fields.hasErrors('cotation')}"
                   th:errors="*{cotation}"></small>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" th:name="action" th:value="Submit">
            <a th:href="@{/}" class="btn btn-info" role="button">Retour</a>
        </div>
    </form>
</div>
</body>
</html>