<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container-xl">
    <div class="card rounded-0 shadow">
        <div class="card-body">
            <h3>Modifier detail commentaire</h3>
            <div class="col-md-6">
                <form action="#" th:action="@{/editionCommentaire?id={id}(id=${commentaire.id})}"
                      th:object="${commentaire}" method="post">
                    <div class="form-group row has-feedback">
                        <label for="exampleInputId" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                            <input type="number" disabled class="form-control" id="exampleInputId" th:field="*{id}">
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label for="exampleInputUtilisateur" class="col-sm-2 col-form-label">Utilisateur</label>
                        <div class="col-sm-10">
                            <input type="number" disabled class="form-control" id="exampleInputUtilisateur"
                                   th:field="*{utilisateur}">
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label for="exampleInputSecteur" class="col-sm-2 col-form-label">Site</label>
                        <div class="col-sm-10">
                            <input type="number" disabled class="form-control" id="exampleInputSecteur"
                                   th:field="*{site}">
                        </div>
                    </div>


                    <div class="form-group row has-feedback">
                        <label for="exampleInputCommentaire" class="col-sm-2 col-form-label">Nom</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="exampleInputCommentaire"
                                   th:field="*{zoneCommentaire}">
<!--                            <small id="WarningNomCommentaire" class="form-text text-muted"
                                   th:if="${#fields.hasErrors('zoneCommentaire')}"
                                   th:errors="*{zoneCommentaire}"></small>-->
                        </div>
                    </div>
                    <div class="row">
                        <input class="btn btn-primary" type="submit" th:name="action" th:value="Submit">
                        <a th:href="@{/commentaire/listCommentaire}" class="btn btn-secondary" role="button">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
