<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container mt-5">
    <h3 class="text-center mb-3">Modifier detail commentaire</h3>
    <div class="col-md-6">
        <form action="#" method="post"
              th:action="@{/commentaire/editionCommentaire?id={id}(id=${commentaire.id})}" th:object="${commentaire}">
            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="exampleInputUtilisateur">Utilisateur</label>
                <div class="col-sm-10">
                    <input class="form-control" disabled id="exampleInputUtilisateur" th:field="*{utilisateur}"
                           type="number">
                </div>
            </div>

            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="exampleInputSecteur">Site</label>
                <div class="col-sm-10">
                    <input class="form-control" disabled id="exampleInputSecteur" th:field="*{site}"
                           type="number">
                </div>
            </div>
            <div class="form-group row has-feedback">
                <label class="col-sm-2 col-form-label" for="exampleInputCommentaire">Nom</label>
                <div class="col-sm-10">
                    <input class="form-control" id="exampleInputCommentaire" th:field="*{zoneCommentaire}"
                           type="text">
                </div>
            </div>
            <div class="row">
                <input class="btn btn-primary" th:name="action" th:value="Submit" type="submit">
                <a class="btn btn-secondary" role="button" th:href="@{/site/listSiteByUser}">Retour</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
