<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Modifier detail voie</h1>

<div class="container">


    <!--    <form>-->
    <form action="#" th:action="@{/editionVoie?id={id}(id=${voie.id})}" th:object="${voie}" method="post" >
        <div class="form-group">
            <label for="exampleInputId">Id</label>
            <input type="number" disabled class="form-control" id="exampleInputId" th:field="*{id}"
                   aria-describedby="WarningInputId" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputCotation">Nom</label>
            <input type="text" class="form-control" id="exampleInputCotation" th:field="*{cotation}">
            <small id="WarningCotation" class="form-text text-muted" th:if="${#fields.hasErrors('cotation')}" th:errors="*{cotation}"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputSecteur">Secteur</label>
            <input type="text" disabled class="form-control" id="exampleInputSecteur" th:field="*{site}"
                   aria-describedby="WarningInputSecteur" disabled>
        </div>
        <div class="form-group">
            <label for="exampleInputHauteur">Hauteur</label>
            <input type="text" class="form-control" id="exampleInputHauteur" th:field="*{hauteur}">
            <small id="WarningHauteur" class="form-text text-muted" th:if="${#fields.hasErrors('hauteur')}" th:errors="*{hauteur}"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputDistance">Distance</label>
            <input type="text" class="form-control" id="exampleInputDistance" th:field="*{distance}">
            <small id="WarningDistance" class="form-text text-muted" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"></small>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" th:name="action" th:value="Submit">
        </div>
        <div>
            <a th:href="@{/}" class="btn btn-info" role="button">Retour</a>
        </div>
    </form>
</div>
</body>
</html>