<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<h1>Modifier detail Commentaire</h1>

<div class="container">


    <!--    <form>-->
    <form action="#" th:action="@{/editionCommentaire?id={id}(id=${commentaire.id})}" th:object="${commentaire}" method="post" >
        <div class="form-group">
            <label for="exampleInputId">Id</label>
            <input type="number" disabled class="form-control" id="exampleInputId" th:field="*{id}">
        </div>

        <div class="form-group">
            <label for="exampleInputUtilisateur">Utilisateur</label>
            <input type="number" disabled class="form-control" id="exampleInputUtilisateur" th:field="*{utilisateur}">
        </div>

        <div class="form-group">
            <label for="exampleInputSecteur">Secteur</label>
            <input type="number" disabled class="form-control" id="exampleInputSecteur" th:field="*{secteur}">
        </div>


        <div class="form-group">
            <label for="exampleInputCommentaire">Nom</label>
            <input type="text" class="form-control" id="exampleInputCommentaire" th:field="*{zoneCommentaire}">
            <small id="WarningNomCommentaire" class="form-text text-muted" th:if="${#fields.hasErrors('zoneCommentaire')}" th:errors="*{zoneCommentaire}"></small>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" th:name="action" th:value="Submit">
        </div>
        <div>
            <a th:href="@{/}" class="btn btn-info" role="button">Retour</a>
        </div>
    </form>
</div>
</body>
</html>