<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace = "fragments/topnav :: navbar"></div>
<div class="container-xl">
    <div class="card text-center">

        <div class="card-body">
            <h1> Liste des commentaire</h1>
            <div th:replace = "fragments/topnav :: navbar"></div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <th>Auteur du commentaire</th>
                    <th>nom du site</th>
                    <th>zone du commentaire</th>
                    <th>detail</th>
                    </thead>
                    <tbody>
                    <tr th:each="commentaire, rowStat: ${commentaires}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${commentaire.utilisateur}"/>
                        <td th:text="${commentaire.site}"/>
                        <td th:text="${commentaire.zoneCommentaire}"/>
                        <td><a th:href="@{/commentaire/detailsCommentaire?id={id}(id=${commentaire.id})}">Détails</a></td>
                        <td><a th:href="@{/commentaire/editionCommentaire?id={id}(id=${commentaire.id})}">Editer</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="align-self-xl-end">
                <br> <a th:href="@{/commentaire/addCommentaire}" class="btn btn-primary" role="button">Ajouter</a> </br>
            </div>
        </div>
    </div>
</div>

</body>
</html>