<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container mt-5">
    <h3 class="text-center mb-3"> Liste de mes reservations</h3>
    <div class="table-responsive-lg">
        <table class="table table-bordered table-striped text-center">
            <thead>
            <th>Topologie</th>
            <th>Etat</th>
            <th>Annuler</th>
            <th>Rendre</th>
            </thead>
            <tbody>
            <tr th:each="reservation, rowStat: ${reservationsbyuserdifferent}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${reservation.topologie.nomTopologie}"/>
                <td th:text="${reservation.etat}"/>
                <td>
                    <form method="post"
                          th:action="@{/reservation/makeTopoAnnule/{id}(id=${reservation.id})}" th:object="${reservation}">
                        <div th:if="${reservation.etat == 'En cours'}">
                            <th:block th:if="${reservation.etat == 'En cours'}">
                                <button class="btn btn-primary" type="submit">Annuler</button>
                            </th:block>
                        </div>
                    </form>
                </td>
                <td>
                    <form method="post"
                          th:action="@{/reservation/makeTopoLibre/{id}(id=${reservation.id})}" th:object="${reservation}">
                        <div th:if="${reservation.etat == 'Preté'}">
                            <th:block th:if="${reservation.etat == 'Preté'}">
                                <button class="btn btn-primary" type="submit">Rendre</button>
                            </th:block>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a class="btn btn-primary" role="button" th:href="@{/admin/home}">Retour</a>
    </div>
</div>
</div>
</body>
</html>

