<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<br>
<div class="container-fluid">
    <div class="card text-center">
        <div class="card-body">
            <h1> Liste des secteurs</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <th>id</th>
                    <th>nom du secteur</th>
                    <th>nom du site</th>
                    <th>Hauteur</th>
                    <th>longueur</th>
                    <th>cotation</th>

                    <th>detail</th>
                    <th>editer</th>
                    </thead>
                    <tbody>
                    <tr th:each="secteur, rowStat: ${secteurs}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${secteur.id}"/>
                        <td th:text="${secteur.nomSecteur}"/>
                        <td th:text="${secteur.site}"/>
                        <td th:text="${secteur.hauteur}"/>
                        <td th:text="${secteur.cotation}"/>
                        <td th:text="${secteur.longueur}"/>
                        <td><a th:href="@{/detailSecteur?id={id}(id=${secteur.id})}">Détails</a></td>
                        <td><a th:href="@{/editionSecteur?id={id}(id=${secteur.id})}">Editer</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="align-self-xl-end">
    <br> <a th:href="@{/add}" class="btn btn-primary" role="button">Ajouter</a> </br>
</div>
</body>
</html>