<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">-->
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container mt-5">
    <h3 class="text-center mb-3"> Liste des utilisateurs</h3>
    <div class="table-responsive-lg">
        <table class="table table-bordered table-striped text-center">
            <thead>
            <th>Username</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Mail</th>
            <th>Detail</th>
            <th>Editer</th>
            </thead>
            <tbody>
            <tr th:each="utilisateur, rowStat: ${utilisateurs}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <!--                        <td th:text="${utilisateur.id}"/>-->
                <td th:text="${utilisateur.username}"/>
                <td th:text="${utilisateur.prenom}"/>
                <td th:text="${utilisateur.age}"/>
                <td th:text="${utilisateur.mail}"/>
                <td><a th:href="@{/detailsUser?id={id}(id=${utilisateur.id})}">Détails</a></td>
                <td><a th:href="@{/editionUser?id={id}(id=${utilisateur.id})}">Editer</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a th:href="@{/addUser}" class="btn btn-primary" role="button">Ajouter</a> </br>
        <a th:href="@{/admin/home}" class="btn btn-primary" role="button">Retour</a>
    </div>
</div>
</div>
</body>
</html>
