<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"-->
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container mt-5">
    <h1> Liste de mes validations</h1>
    <div class="table-responsive-lg">
        <table class="table table-bordered table-striped text-center">
            <thead>
            <th>Numero réservation</th>
            <th>Topologie</th>
            <th>Etat</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr th:each="reservation, rowStat: ${reservationsbyuserdifferent}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${reservation.id}"/>
                <td th:text="${reservation.topologie.nomTopologie}"/>
                <td th:text="${reservation.etat}"/>
                <td>
                    <div class="row">
                        <form method="post"
                              th:action="@{/reservation/makeTopoAccepte/{id}(id=${reservation.id})}" th:object="${reservation}">
                            <th:block th:if="${reservation.etat== 'Accepté'}">
                                <a>Annuler reservation</a>
                            </th:block>
                        </form>
                        <form method="post"
                              th:action="@{/reservation/makeTopoAccepte/{id}(id=${reservation.id})}" th:object="${reservation}">
                            <th:block th:if="${reservation.etat == 'En cours'}">
                                <button class="btn btn-primary" type="submit">Accepter</button>
                            </th:block>
                        </form>
                        <form method="post"
                              th:action="@{/reservation/makeTopoRefuse/{id}(id=${reservation.id})}" th:object="${reservation}">
                            <th:block th:if="${reservation.etat == 'En cours'}">
                                <button class="btn btn-primary" type="submit">Refuser</button>
                            </th:block>
                        </form>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a class="btn btn-primary" role="button" th:href="@{/admin/home}">Retour</a>
    </div>
</div>
</body>
</html>

