<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Userhome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace = "fragments/topnav :: navbar"></div>
<div class="container-xl">
    <div class="card text-center">
        <div class="card-body">
            <h1> Liste des Reservations</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <th>Numero Topologie</th>
                    <th>Utilisateur</th>
                    <th>detail</th>
                    <!--                    <th>editer</th>-->
                    </thead>
                    <tbody>
                    <tr th:each="reservation, rowStat: ${reservations}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${reservation.topologie}"/>
                        <td th:text="${reservation.utilisateur}"/>
                        <td><a th:href="@{/detailsReservation?id={id}(id=${reservation.id})}">Détails</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a th:href="@{/reservation/addReservation}" class="btn btn-primary" role="button">Ajouter</a> </br>
                <a th:href="@{/admin/home}" class="btn btn-secondary" role="button">Retour</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>