<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Userhome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
<div class="container-xl">
    <div class="card text-center">
        <div class="card-body">
            <h1> Liste de mes voies</h1>

            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                    <th>Nom Voie</th>
                    <th>Secteur</th>
                    <th>Cotation</th>
                    <th>Hauteur</th>
                    <th>Distance</th>
                    <th>Detail</th>
                    <th>Editer</th>
                    </thead>
                    <tbody>
                    <tr th:each="voie, rowStat: ${voiesbyuser}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
<!--                        <td th:text="${voie.id}"/>-->
                        <td th:text="${voie.nomVoie}"/>
                        <td th:text="${voie.site.topologie.nomTopologie}"/>
                        <td th:text="${voie.cotation}"/>
                        <td th:text="${voie.hauteur}"/>
                        <td th:text="${voie.distance}"/>
                        <td><a th:href="@{/voie/detailsVoie?id={id}(id=${voie.id})}">Détails</a></td>
                        <td><a th:href="@{/voie/editionVoie?id={id}(id=${voie.id})}">Editer</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class ="row" align="left">
<!--                <a th:href="@{/voie/addVoie}" class="btn btn-primary" role="button">Ajouter</a></td>-->
                <a th:href="@{/admin/home}" class="btn btn-primary" role="button">Retour</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>
